.venv/
__pycache__/
.pytest_cache/
*.pyc

# Generated data
/data/datasets/

# Ultralytics outputs
/runs/
/outputs/

# Model weights
*.pt

models/reid/**

# OS
.DS_Store
/NilePlateID/temp/
/temp/*
/NilePlateID/temp/*

# Keep gitkeeps
!models/.gitkeep
!models/reid/.gitkeep
